[submodule "bc.upnpc/miniupnp"]
	path = source/bc.upnpc/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "source/max-sdk-base"]
	path = source/max-sdk-base
	url = https://github.com/Cycling74/max-sdk-base.git
[submodule "source/test/Catch2"]
	path = source/test/Catch2
	url = https://github.com/catchorg/Catch2.git
