
# Created by https://www.gitignore.io/api/macos

### macOS ###
*.DS_Store

# Created by https://www.gitignore.io/api/xcode

## Build generated
build/
DerivedData/

## Various settings
xcuserdata/

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

Icon