/bc.virfun/bc.virfun.xcodeproj/xcuserdata
/bc.yinstats/bc.yinstats.xcodeproj/xcuserdata
/Tempo/large.xcodeproj/xcshareddata
/Tempo/large.xcodeproj/xcuserdata
/Tempo/toiviainen.xcodeproj/xcuserdata

/.DS_Store
/bc.virfun/.DS_Store
/bc.yinstats/.DS_Store
/build/.DS_Store
/Tempo/.DS_Store

/build/tempo.large.mxo

/bc.virfun/bc.virfun.xcodeproj/project.xcworkspace/xcshareddata
/bc.virfun/bc.virfun.xcodeproj/project.xcworkspace/xcuserdata
/bc.yinstats/bc.yinstats.xcodeproj/project.xcworkspace/xcuserdata
/Tempo/large.xcodeproj/project.xcworkspace/xcuserdata
/Tempo/toiviainen.xcodeproj/project.xcworkspace/xcuserdata

/bc.virfun/build
/bc.yinstats/build

/build
